{% extends 'music/base.html' %}

{% block body %}
{% if all_albums %}
    <h1>
    Here are all my Albums :
    </h1>
    <ul>
        {% for album in all_albums %}
        <li>

            <a href="{% url 'music:detail' album.id %}">
                {{album.album_logo.url }}
            </a>
            <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

                            <!-- Delete Album -->
            <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="album_id" value="{{ album.id }}" />
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>

        {% endfor %}
        </li>
    </ul>
{% else %}
    <h3>
        Dont have any album to display.
    </h3>
{% endif %}
{% endblock %}